/* SCSS HEX */
// $razzmatazz: #e43a72ff;
// $candy-pink: #e5646dff;
// $tumbleweed: #f2aa7eff;
// $xanadu: #859183ff;
// $deep-space-sparkle: #495f6cff;
// $indigo-dye: #2b4660ff;
// $indigo-dye-2: #083d77ff;
// $prussian-blue: #0b3566ff;
// $prussian-blue-2: #0d2c54ff;
// $oxford-blue: #102542ff;

/* SCSS HSL */
$razzmatazz: hsla(340, 76%, 56%, 1);
$candy-pink: hsla(356, 71%, 65%, 1);
$tumbleweed: hsla(23, 82%, 72%, 1);
$xanadu: hsla(111, 6%, 54%, 1);
$deep-space-sparkle: hsla(202, 19%, 35%, 1);
$indigo-dye: hsla(209, 38%, 27%, 1);
$indigo-dye-2: hsla(211, 87%, 25%, 1);
$prussian-blue: hsla(212, 81%, 22%, 1);
$prussian-blue-2: hsla(214, 73%, 19%, 1);
$oxford-blue: hsla(215, 61%, 16%, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #2b4660ff, #083d77ff, #0b3566ff, #0d2c54ff, #102542ff);
$gradient-right: linear-gradient(90deg, #2b4660ff, #083d77ff, #0b3566ff, #0d2c54ff, #102542ff);
$gradient-bottom: linear-gradient(180deg, #2b4660ff, #083d77ff, #0b3566ff, #0d2c54ff, #102542ff);
$gradient-left: linear-gradient(270deg, #2b4660ff, #083d77ff, #0b3566ff, #0d2c54ff, #102542ff);
$gradient-top-right: linear-gradient(45deg, #2b4660ff, #083d77ff, #0b3566ff, #0d2c54ff, #102542ff);
$gradient-bottom-right: linear-gradient(135deg, #2b4660ff, #083d77ff, #0b3566ff, #0d2c54ff, #102542ff);
$gradient-top-left: linear-gradient(225deg, #2b4660ff, #083d77ff, #0b3566ff, #0d2c54ff, #102542ff);
$gradient-bottom-left: linear-gradient(315deg, #2b4660ff, #083d77ff, #0b3566ff, #0d2c54ff, #102542ff);
$gradient-radial: radial-gradient(#2b4660ff, #083d77ff, #0b3566ff, #0d2c54ff, #102542ff);
